body {
	font-family: arial, sans-serif;
	background-color: salmon;
	align-content: top;
}

h1 {
	display: block;
	text-align: center;
	width: 100%;
	margin: 3%;
	font-size: 3em;
}

.underHead {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.container {
	display: inline-block;
	text-align: top;
	width: 30%;
	padding: 3%;
	border: 3px solid white;
	border-radius: 2%;
}

h2 {
	text-align: center;
}