body {
	font-family: tahoma, sans-serif;
	background-color: salmon;
	align-content: top;
}

h1 {
	display: block;
	text-align: center;
	width: 100%;
	margin: 3%;
	font-size: 3em;
	font-weight: 900;
}

.underHead {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.container {
	display: inline-block;
	text-align: top;
	width: 40%;
	padding: 3%;
	border: 3px solid white;
	border-radius: 2%;
}

h2 {
	text-align: center;
	font-weight: bold;
}

img {
	width: 60%;
	height: 170px;
	margin: 0 22%;
}
